$WHITE: white;

$GREY_1: #212121;
$GREY_2: #424242;
$GREY_3: #646464;
$GREY_4: #727272;
$GREY_5: #999999;
$GREY_6: #BBBBBB;
$GREY_7: #E0E0E0;
$GREY_8: #EEEEEE;
$GREY_9: #F6F6F6;
$GREY_10: #FAFAFA;

$BLUE_GREY_1: #263238;
$BLUE_GREY_2: #455A64;
$BLUE_GREY_3: #607D8B;
$BLUE_GREY_4: #90A4AE;
$BLUE_GREY_5: #CFD8DC;
$BLUE_GREY_6: #ECEFF1;

$BROWN_1: #3E2723;
$BROWN_2: #5D4037;
$BROWN_3: #795548;
$BROWN_4: #A1887F;
$BROWN_5: #D7CCC8;
$BROWN_6: #EFEBE9;

$INDIGO_1: #304FFE;
$INDIGO_2: #3D5AFE;
$INDIGO_3: #536DFE;
$INDIGO_4: #8C9EFF;
$INDIGO_5: #1A237E;
$INDIGO_6: #303F9F;
$INDIGO_7: #3F51B5;
$INDIGO_8: #7986CB;
$INDIGO_9: #C5CAE9;
$INDIGO_10: #E8EAF6;

$BLUE_1: #2962FF;
$BLUE_2: #2979FF;
$BLUE_3: #448AFF;
$BLUE_4: #82B1FF;
$BLUE_5: #074082;
$BLUE_6: #0F54A5;
$BLUE_7: #4990E2;
$BLUE_8: #7FB6F5;
$BLUE_9: #D1E6FF;
$BLUE_10: #F2F7FE;

$LIGHT_BLUE_1: #0091EA;
$LIGHT_BLUE_2: #00B0FF;
$LIGHT_BLUE_3: #40C4FF;
$LIGHT_BLUE_4: #80D8FF;
$LIGHT_BLUE_5: #01579B;
$LIGHT_BLUE_6: #0288D1;
$LIGHT_BLUE_7: #03A9F4;
$LIGHT_BLUE_8: #4FC3F7;
$LIGHT_BLUE_9: #B3E5FE;
$LIGHT_BLUE_10: #E1F5FE;

$CYAN_1: #00B8D4;
$CYAN_2: #00E5FF;
$CYAN_3: #18FFFF;
$CYAN_4: #84FFFF;
$CYAN_5: #006064;
$CYAN_6: #0097A7;
$CYAN_7: #00BCD4;
$CYAN_8: #4DD0E1;
$CYAN_9: #B2EBF2;
$CYAN_10: #E0F7FA;

$TEAL_1: #00BFA5;
$TEAL_2: #1DE9B6;
$TEAL_3: #64FFDA;
$TEAL_4: #A7FFEB;
$TEAL_5: #004D40;
$TEAL_6: #00796B;
$TEAL_7: #009688;
$TEAL_8: #4DB6AC;
$TEAL_9: #B2DFDB;
$TEAL_10: #E0F2F1;

$GREEN_1: #00C853;
$GREEN_2: #00E676;
$GREEN_3: #69F0AE;
$GREEN_4: #B9F6CA;
$GREEN_5: #056723;
$GREEN_6: #09852F;
$GREEN_7: #2EC75D;
$GREEN_8: #55DF7F;
$GREEN_9: #BBF5CD;
$GREEN_10: #E8FCEE;

$LIGHT_GREEN_1: #64DD17;
$LIGHT_GREEN_2: #76FF03;
$LIGHT_GREEN_3: #B2FF59;
$LIGHT_GREEN_4: #CCFF90;
$LIGHT_GREEN_5: #33691E;
$LIGHT_GREEN_6: #689F38;
$LIGHT_GREEN_7: #8BC34A;
$LIGHT_GREEN_8: #AED581;
$LIGHT_GREEN_9: #DCEDC8;
$LIGHT_GREEN_10: #F1F8E9;

$LIME_1: #AEEA00;
$LIME_2: #C6FF00;
$LIME_3: #EEFF41;
$LIME_4: #F4FF81;
$LIME_5: #827717;
$LIME_6: #AFB42B;
$LIME_7: #CDDC39;
$LIME_8: #DCE775;
$LIME_9: #F0F4C3;
$LIME_10: #F9FBE7;

$YELLOW_1: #FFD600;
$YELLOW_2: #FFEA00;
$YELLOW_3: #FFFF00;
$YELLOW_4: #FFFF8D;
$YELLOW_5: #F57F17;
$YELLOW_6: #FBC02D;
$YELLOW_7: #FFEB3B;
$YELLOW_8: #FFF176;
$YELLOW_9: #FFF9C4;
$YELLOW_10: #FFFDE7;

$AMBER_1: #FFAB00;
$AMBER_2: #FFC400;
$AMBER_3: #FFD740;
$AMBER_4: #FFE57F;
$AMBER_5: #FF6F00;
$AMBER_6: #FFA000;
$AMBER_7: #FFC107;
$AMBER_8: #FFD54F;
$AMBER_9: #FFECB3;
$AMBER_10: #FFF8E1;

$ORANGE_1: #FF6D00;
$ORANGE_2: #FF9100;
$ORANGE_3: #FFAB40;
$ORANGE_4: #FFD180;
$ORANGE_5: #E65100;
$ORANGE_6: #F57C00;
$ORANGE_7: #FF9800;
$ORANGE_8: #FFB74D;
$ORANGE_9: #FFE0B2;
$ORANGE_10: #FFF3E0;

$DEEP_ORANGE_1: #DD2C00;
$DEEP_ORANGE_2: #FF3D00;
$DEEP_ORANGE_3: #FF6E40;
$DEEP_ORANGE_4: #FF9E80;
$DEEP_ORANGE_5: #BF360C;
$DEEP_ORANGE_6: #E64A19;
$DEEP_ORANGE_7: #FF5722;
$DEEP_ORANGE_8: #FF8A65;
$DEEP_ORANGE_9: #FFCCBC;
$DEEP_ORANGE_10: #FBE9E7;

$RED_1: #D50000;
$RED_2: #FF1744;
$RED_3: #FF5252;
$RED_4: #FF8A80;
$RED_5: #A12713;
$RED_6: #BF351F;
$RED_7: #E25E49;
$RED_8: #F09B8D;
$RED_9: #FFD7D1;
$RED_10: #FFEEEE;

$PINK_1: #C51162;
$PINK_2: #F50057;
$PINK_3: #FF4081;
$PINK_4: #FF80AB;
$PINK_5: #880E4F;
$PINK_6: #C2185B;
$PINK_7: #E91E63;
$PINK_8: #F06292;
$PINK_9: #F8BBD0;
$PINK_10: #FCE4EC;

$PURPLE_1: #AA00FF;
$PURPLE_2: #D500F9;
$PURPLE_3: #E040FB;
$PURPLE_4: #EA80FC;
$PURPLE_5: #4A148C;
$PURPLE_6: #7B1FA2;
$PURPLE_7: #9C27B0;
$PURPLE_8: #BA68C8;
$PURPLE_9: #E1BEE7;
$PURPLE_10: #F3E5F5;

$DEEP_PURPLE_1: #6200EA;
$DEEP_PURPLE_2: #651FFF;
$DEEP_PURPLE_3: #7C4DFF;
$DEEP_PURPLE_4: #B388FF;
$DEEP_PURPLE_5: #311B92;
$DEEP_PURPLE_6: #512DA8;
$DEEP_PURPLE_7: #673AB7;
$DEEP_PURPLE_8: #9575CD;
$DEEP_PURPLE_9: #D1C4E9;
$DEEP_PURPLE_10: #EDE7F6;

$primary-color: $BLUE_7;
$secondary-color: $GREEN_7;
$warning-color: $RED_7;
$default-color: $GREY_7;
